html,body                                       /* chnage the default margin padding */
{
    margin: 0px;
    padding: 0px;
}

/* Navbar Starts */

nav li                                          /* only select li tag inside nav tag */
{
    display: inline;
    margin-left: 100px;
}

nav a                                           /* Remove the under line of anker tag*/
{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav                                             /* top padding of the page */
{
    padding-top: 20px;
}
.banner                                         /* banner class */
{
    height: 1000px; 
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://cdn.pixabay.com/photo/2023/04/29/16/10/ai-generated-7958874_1280.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.my-nav 
{
    margin: auto;
    margin-left: 80px;
}

.logo                                           /* To set logo Size */
{
    font-size: 35px;
    font-weight: bold;
}

.btn
{
    background-color: #486670;
    padding: 6px 13px 6px 13px;
    color: white;
    border: rgb(19, 25, 119) 1px solid;
    border-radius: 10px;
    /* margin-left: 100px; */
}

.btn:hover                                      /* Pseudo-classes*/
{
    background-color: rgb(7, 30, 85);
    /* background-color: transparent; */
}

.my-banner-content                              /* banner contant class */
{
    color: white;
    text-align: center;
    position: relative;                         /* use relative use top */
    top: 200px;
}

.my-banner-content h1                           /*  Banner contant */
{
    font-size: 50px;
}
.my-banner-content p
{
    font-size: 30px;
}
/* Navbar Ends */

/* About Us Starts */

.aboutus                                       /* about us margin  */
{
    margin: 200px;
    margin-left: 350px;
}

.aboutus li
{
    margin-top: 10px;
}
.btn-tranparent                                /* Buttion tranparent */
{
    background-color: transparent;
    padding: 6px 13px 6px 13px;
    color: black;
    border: rgb(19, 25, 119) 1px solid;
    border-radius: 10px;
}
.btn-tranparent:hover                         /* buttion hover */
{
    background-color: lightblue;
}

.aboutus-subdiv div                           /* div the line in center */
{
    padding-right: 100px ;
    display: inline-block;
    width: 500px;
}
/* About us Ends */

/* Services Starts */

.services                                   /* margin */
{
    margin: 100px;    
}

.my-div-bg                                  /* backgroud for division */     
{
    background-color: rgba(222, 230, 231, 0.425);
}
.card                                       /* card edit */
{
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 20px ;
    display: inline-block;
    margin-left: 150px;
    margin-top: 30px;
    padding: 50px;
    transition: transform 1s;

}

.card:hover                                 /* hover for card */
{
    box-shadow: 0px 5px rgb(20, 118, 209);
    transform: translate(0px,  -10px);
}

.card i
{
    background-color: rgb(14, 129, 182);
    color: white;
    padding: 20px;
    border-radius: 100%;
}
/* SErvices Ends */

/* CTA starts */
.cta
{
    height: 250px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://cdn.pixabay.com/photo/2023/12/15/14/49/city-8450817_640.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    padding: 40px 100px 40px 100px;
}
.cta-tranparent                                /* Buttion tranparent */
{
    background-color: transparent;
    padding: 6px 13px 6px 13px;
    color: rgb(255, 255, 255);
    border: rgb(252, 252, 252) 1px solid;
    border-radius: 10px;
}
.cta-tranparent:hover                         /* buttion hover */
{
    background-color: rgb(109, 198, 228);
}
/* CTA Ends */